<div id="divModalNewUser" class="modal fade row" role="dialog">
    <div class="modal-dialog" id="divModalNewUserInnerDiv">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">کاربر جدید</h4>
            </div>
            <div class="modal-body">
                <div class="row nm-row">
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col1"><span>نام کاربری</span></span>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col2">
                        <input class="form-control ltrInput" type="text" id="inputUserName" tabindex="1">
                    </span>
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="spanAlertUserName">

                        <div id="divAlerUserName1" style="display: none">
                        <li>نام کاربری نمی تواند خالی باشد</li>
                        </div>

                        <div id="divAlerUserName2" style="display: none;width: 400px;">
                            <li>نام کاربری نمی تواند فارسی باشد</li>
                            <li>نام کاربری می تواند شامل کاراکترهای _ - . باشد</li>
                        </div>

                        <div id="divAlerUserName3" style="display: none">
                        <li>نام کاربری قبلا ثبت شده است</li>
                        </div>
                </span>
                </div>

                <div class="row nm-row">
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col1"><span>کلمه عبور</span></span>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col2">
                        <input class="form-control ltrInput" tabindex="2"
                               type="password"
                               id="inputPassword">
                    </span>
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="spanAlertPassword">
                        <div id="divAlerPassword1" style="display: none">
                            <li>کلمه عبور نمی تواند خالی باشد</li>
                        </div>

                        <div id="divAlerPassword2" style="display: none">
                            <li>طول کلمه عبور باید حداقل 8 حرف یا عدد باشد</li>
                        </div>
                    </span>
                </div>

                <div class="row nm-row">
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col1"><span>تکرار کلمه عبور</span></span>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col2">
                        <input class="form-control ltrInput" tabindex="4"
                               type="password"
                               id="inputRepeatPassword">
                    </span>
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="spanAlertRepeatPassword">

                        <div id="divAlertRepeatPassword1" style="display: none">
                            <li>تکرار کلمه عبور نمی تواند خالی باشد</li>
                        </div>

                        <div id="divAlertRepeatPassword2" style="display: none">
                            <li>کلمه عبور و تکرار آن مطابقت ندارند</li>
                        </div>
                    </span>
                </div>

                <div class="row nm-row">
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col1"><span>نام</span></span>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col2">
                        <input class="form-control" type="text" tabindex="5"
                               id="inputFirstName">
                    </span>
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="spanAlertFirstName">
                        <a id="aAlertFirstName" href="javascript:void(0)" data-html="true" style="opacity: 0;display: none;"
                           data-placement="left" data-trigger="hover" tabindex="999">
                        <i class="fa fa-info-circle popover-icon" aria-hidden="true"></i>
                    </a>

                        <div id="divAlertFirstName1" style="display: none">
                            <li>نام نمی تواند خالی باشد</li>
                        </div>
                    </span>
                </div>

                <div class="row nm-row">
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col1"><span>نام خانوادگی</span></span>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col2">
                        <input class="form-control" type="text" tabindex="6"
                               id="inputLastName">
                    </span>
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="spanAlertLastName">
                        <a id="aAlertLastName" href="javascript:void(0)" data-html="true" style="opacity: 0;display: none;"
                           data-placement="left" data-trigger="hover" tabindex="999">
                        <i class="fa fa-info-circle popover-icon" aria-hidden="true"></i>
                    </a>

                        <div id="divAlertLastName1" style="display: none">
                            <li>نام خانوادگی نمی تواند خالی باشد</li>
                        </div>
                    </span>
                </div>

                <div class="row">
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col1"></span>
                    <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col2 center-block">
            <button type="button" class="btn btn-primary" id="buttonSubmit" tabindex="7">
                <span id="buttonSubmitContent">
                    <span id="buttonSubmitText">ثبت</span>
                    <i class="fa fa-spinner fa-pulse fa-fw" id="iButtonSubmitSpinner"></i>
                </span>
            </button>

            <span id="alertSuccess" class="alert alert-success nm-alert2" style="display: none"></span>
        </span>
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="8">بستن</button>
            </div>
        </div>

    </div>

    <input type="hidden" id="inputModalCountNewUser">
</div>