<div id="divMainBodyAdminMachinery" style="display: none;">

    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a class="center-block aNavbarMainBodyItems" id="aCreateUnit">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span>بخش جدید</span>
                    </a></li>
                    <li><a class="center-block aNavbarMainBodyItems" id="aCreateMachine">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span>ماشین جدید</span>
                    </a></li>
                    <li><a class="center-block aNavbarMainBodyItems" id="aCreateFolder">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span>پوشه جدید</span>
                    </a></li>

                    <li class="nm-disable-a"><a class="center-block aNavbarMainBodyItems nm-disable-a" id="aEdit">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <span>ویرایش</span>
                    </a></li>

                    <li><a class="center-block aNavbarMainBodyItems nm-disable-a" id="aDelete">
                        <span><i class="fa fa-key" aria-hidden="true"></i></span>
                        <span>حذف</span>
                    </a></li>

                    <li><a class="center-block" id="aLoadingNavbarMainBodyMachinery">
                        <span><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
                    </a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="machineryBrowser" class="row">
        <div class="btn-group btn-group-justified" id="divParentLocation" style="margin-top: 5px;margin-bottom: 0px;">

        </div>

        <ul class="list-group" id="ulListMachinery">

        </ul>
    </div>


    <script id="templateParentLocation" type="text/x-handlebars-template"></script>

    <script id="templateLocationUP" type="text/x-handlebars-template"></script>

    <script id="templateUnit" type="text/x-handlebars-template"></script>

    <script id="templateMachine" type="text/x-handlebars-template"></script>

    <script id="templateFolder" type="text/x-handlebars-template"></script>

    <div id="modalMachinery"></div>
</div>