<div id="divMainBodyAdminMachinery" style="display: none;">

    <div id="machineryBrowser">
        <div class="btn-group btn-group-justified" id="divParentLocation" style="margin-top: 5px;margin-bottom: 0px;">

        </div>

        <ul class="list-group" id="ulListMachinery">

        </ul>
    </div>


    <script id="templateParentLocation" type="text/x-handlebars-template"></script>

    <script id="templateLocationUP" type="text/x-handlebars-template"></script>

    <script id="templateUnit" type="text/x-handlebars-template"></script>

    <script id="templateMachine" type="text/x-handlebars-template"></script>

    <script id="templateFolder" type="text/x-handlebars-template"></script>
</div>