<div id="divMainBodyAdminMachinery" style="display: none;">
    <div class="btn-group btn-group-justified" style="margin-top: 5px;margin-bottom: 0px;">
        <a href="javascript:void(0)" class="btn btn-default" style="height: 50px;">ریشه</a>
        <a href="javascript:void(0)" class="btn btn-default" style="height: 50px;">تولید</a>
        <a href="javascript:void(0)" class="btn btn-default" style="height: 50px;">جامدات</a>
    </div>
    <ul class="list-group">
        <a href="javascript:void(0)" class="list-group-item">
            <h4 class="list-group-item-heading center-block">
                <i class="fa fa-arrow-up" aria-hidden="true" style="color: yellow"></i>
                <span>بالا</span>
            </h4>
        </a>

        <a href="javascript:void(0)" class="list-group-item">
            <h4 class="list-group-item-heading center-block">
                <i class="fa fa-cog" aria-hidden="true" style="color: black"></i>
                <span>Second List Group Item Heading</span>
            </h4>
            <p class="list-group-item-text">List Group Item Text</p>
        </a>

        <a href="javascript:void(0)" class="list-group-item">
            <h4 class="list-group-item-heading center-block">
                <i class="fa fa-folder" aria-hidden="true" style="color: darkgray"></i>
                <span>Second List Group Item Heading</span>
                <span class="badge" style="float: left"></span>
            </h4>
            <p class="list-group-item-text">List Group Item Text</p>
        </a>

        <a href="javascript:void(0)" class="list-group-item">
            <h4 class="list-group-item-heading center-block">
                <i class="fa fa-folder" aria-hidden="true" style="color: lightblue"></i>
                <span>Second List Group Item Heading</span>
                <span class="badge" style="float: left">12</span>
            </h4>
            <p class="list-group-item-text">List Group Item Text </p>
        </a>
    </ul>

    <script id="templateUnit" type="text/x-handlebars-template">
        <li class="list-group-item">New <span class="badge">12</span></li>
    </script>
</div>