<div id="divModalConfirmDeleteMachinery" class="modal fade row" role="dialog">
    <div class="modal-dialog" id="divModalConfirmDeleteMachineryInnerDiv">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تائید حذف</h4>
            </div>
            <div class="modal-body">
                <div class="row mc-confirmDelete-row">آیا از حذف این آیتم اطمینان دارید؟</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="8">بستن</button>
                <button type="button" class="btn btn-default modal-button" tabindex="8" id="buttonConfirmDeleteMachinery">بلی</button>
                <button type="button" class="btn btn-default modal-button" data-dismiss="modal" tabindex="8">خیر</button>
            </div>
        </div>

    </div>
</div>