<div id="divModalRejectDeleteMachinery" class="modal fade row" role="dialog">
    <div class="modal-dialog" id="divModalRejectDeleteMachineryInnerDiv">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">پیشنیاز حذف</h4>
            </div>
            <div class="modal-body">
                <div class="row mc-confirmDelete-row">ابتدا زیر مجموعه های این آیتم را حذف نمائید</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="8">بستن</button>
            </div>
        </div>

    </div>
</div>