<a href="javascript:void(0)" class="list-group-item" data-nm-id="{{id}}">
    <h4 class="list-group-item-heading center-block">
        <i class="fa fa-folder" aria-hidden="true" style="color: darkgray"></i>
        <span style="margin-right:5px;">{{unitNameFa}}</span>
        <span class="badge" style="float: left">{{countChildren}}</span>
    </h4>
    <p class="list-group-item-text">
        <span style="font-weight: bold">نام انگلیسی :</span>
        <span>{{unitNameEn}}</span>
    </p>
</a>