<div id="divMainBodyChangePassword" style="display: none;">
    <div class="row nm-row">
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 profile-col1"><span>کلمه عبور</span></span>
        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 profile-col2"><input class="form-control profile-ltrInput"
                                                                              type="password"
                                                                              id="inputCPPassword"></span>
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="spanCPAlertPassword">

                        <div id="divCPAlerPassword1" style="display: none">
                            <li>کلمه عبور نمی تواند خالی باشد</li>
                        </div>

                        <div id="divCPAlerPassword2" style="display: none">
                            <li>طول کلمه عبور باید حداقل 8 حرف یا عدد باشد</li>
                        </div>
        </span>
    </div>

    <div class="row nm-row">
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 profile-col1"><span>تکرار کلمه عبور</span></span>
        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 profile-col2"><input class="form-control profile-ltrInput"
                                                                              type="password"
                                                                              id="inputCPRepeatPassword"></span>
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="spanCPAlertRepeatPassword">

                        <div id="divCPAlertRepeatPassword1" style="display: none">
                            <li>تکرار کلمه عبور نمی تواند خالی باشد</li>
                        </div>

                        <div id="divCPAlertRepeatPassword2" style="display: none">
                            <li>کلمه عبور و تکرار آن مطابقت ندارند</li>
                        </div>
                    </span>
    </div>

    <div class="row">
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 profile-col1"></span>
        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 profile-col2 center-block">
            <button type="button" class="btn btn-primary" id="buttonCPSubmit">
                <span id="buttonCPSubmitContent">
                    <span id="buttonCPSubmitText">ثبت</span>
                    <i class="fa fa-spinner fa-pulse fa-fw" id="iButtonCPSubmitSpinner"></i>
                </span>
            </button>

            <span id="alertCPSuccess" class="alert alert-success nm-alert2" style="display: none"></span>
        </span>
    </div>
</div>