<div id="divMainBodyChangePassword" style="display: none;">
    <div class="row profile-cp-first-row profile-cp-row">
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 profile-col1"><span>کلمه عبور</span></span>
        <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 profile-col2"><input class="form-control profile-ltrInput"
                                                                              type="password"
                                                                              id="inputProfileCPPassword"></span>
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="spanProfileCPAlertPassword">

                        <div id="divProfileCPAlerPassword1" style="display: none">
                            <li>کلمه عبور نمی تواند خالی باشد</li>
                        </div>

                        <div id="divProfileCPAlerPassword2" style="display: none">
                            <li>طول کلمه عبور باید حداقل 8 حرف یا عدد باشد</li>
                        </div>
        </span>
    </div>

    <div class="row profile-cp-row">
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 profile-col1"><span>تکرار کلمه عبور</span></span>
        <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 profile-col2"><input class="form-control profile-ltrInput"
                                                                              type="password"
                                                                              id="inputProfileCPRepeatPassword"></span>
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="spanProfileCPAlertRepeatPassword">

                        <div id="divProfileCPAlertRepeatPassword1" style="display: none">
                            <li>تکرار کلمه عبور نمی تواند خالی باشد</li>
                        </div>

                        <div id="divProfileCPAlertRepeatPassword2" style="display: none">
                            <li>کلمه عبور و تکرار آن مطابقت ندارند</li>
                        </div>
                    </span>
    </div>

    <div class="row">
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 profile-col1"></span>
        <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 profile-col2 center-block">
            <button type="button" class="btn btn-primary nm-submit-button" id="buttonProfileCPSubmit">
                <span>
                    <span>ثبت</span>
                    <i class="fa fa-spinner fa-pulse fa-fw"></i>
                </span>
            </button>
            <span id="alertProfileCPSuccess" class="alert alert-success nm-alert2" style="display: none"></span>
        </span>
    </div>
</div>