<div class="list-group" id="divSidebarAdmin" style="display: none">
    <a href="#Admin/Users" class="list-group-item" id="aUserAdmin">کاربران</a>
    <a href="#Admin/Forms" class="list-group-item" id="aFormAdmin">فرم ها</a>
</div>