<div class="list-group" id="divSidebarForms" style="display: none">
    <a href="#Forms/Show" class="list-group-item" id="aShowForms">فرم ها</a>
    <a href="#Forms/Management" class="list-group-item" id="aFormManagement">مدیریت فرم ها</a>
</div>