<div id="divMainBodyShowUsers" style="display: none">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a class="center-block aNavbarMainBodyItems" id="aCreateUser">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span>کاربر جدید</span>
                    </a></li>
                    <li><a class="center-block aNavbarMainBodyItems nm-disable-a" id="aEditUser">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <span>ویرایش</span>
                    </a></li>
                    <li><a class="center-block aNavbarMainBodyItems nm-disable-a" id="aDeleteUser">
                        <span><i class="fa fa-user-times" aria-hidden="true"></i></span>
                        <span>حذف</span>
                    </a></li>

                    <li><a class="center-block aNavbarMainBodyItems nm-disable-a" id="aChangePassword">
                        <span><i class="fa fa-shield" aria-hidden="true"></i></span>
                        <span>تغییر کلمه عبور</span>
                    </a></li>

                    <li><a class="center-block aNavbarMainBodyItems nm-disable-a" id="aPermissions">
                        <span><i class="fa fa-key" aria-hidden="true"></i></span>
                        <span>دسترسی ها</span>
                    </a></li>

                    <li><a class="center-block" id="aLoadingNavbarMainBodyShowUsers">
                        <span><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
                    </a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="table-responsive row" id="table-wrapper">
        <table class="table" id="tableMainBodyShowUsers">
            <thead>
            <tr>
                <th class="col-lg-3 col-md-3">نام کاربری</th>
                <th class="col-lg-3 col-md-3">نام</th>
                <th class="col-lg-3 col-md-3">نام خانوادگی</th>
                <th class="col-lg-1 col-md-1"></th>
            </tr>
            </thead>
            <tbody id="tbodyMainBodyShowUsers">
            </tbody>
        </table>
    </div>
</div>