.profile-col1 {
  text-align: left;
  padding-left: 10px;
  padding-right: 0px;
  vertical-align: middle;
  margin-top: 6px; }

.profile-col2 {
  padding-left: 0px;
  padding-right: 0px;
  vertical-align: middle; }

.profile-ltrInput {
  direction: ltr; }
