@font-face {
  font-family: BNazanin;
  src: url("/fonts/BNazanin.ttf"); }

@font-face {
  font-family: "sans2";
  src: url("/fonts/2iran_sans.eot");
  src: url("/fonts/2iran_sans.eot?#iefix") format("embedded-opentype"), url("/fonts/2iran_sans.woff") format("woff"), url("/fonts/2iran_sans.ttf") format("truetype"), url("/fonts/2iran_sans.svg#iran_sans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "sans";
  src: url("/fonts/iran_sans.eot");
  src: url("/fonts/iran_sans.eot?#iefix") format("embedded-opentype"), url("/fonts/iran_sans.woff") format("woff"), url("/fonts/iran_sans.ttf") format("truetype"), url("/fonts/iran_sans.svg#iran_sans") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  direction: rtl;
  text-align: right;
  font-family: "sans";
  overflow-x: hidden;
  overflow-y: hidden; }
  @media screen and (max-width: 768px) {
    body {
      overflow-x: auto;
      overflow-y: scroll;
      margin-right: 10px; } }

#topMenu {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 20px; }

#mainBody {
  padding-right: 3px;
  padding-left: 3px;
  height: 600px;
  padding-right: 5px;
  padding-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    #mainBody {
      overflow-x: auto;
      overflow-y: auto; } }

#sideBar {
  padding-right: 0px; }

#navTopMenu {
  margin-bottom: 0px; }

.index-a-navbar {
  height: 52.4px; }

.aNavbarMainBodyItems {
  cursor: pointer; }

.require-permission {
  display: none !important; }

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e7e7e7;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white; }

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/* loader */
/* Universal styling */
[class^="shaft-load"] {
  margin: 50px auto;
  width: 60px;
  height: 30px; }

[class^="shaft-load"] > div {
  float: left;
  background: aliceblue;
  height: 100%;
  width: 5px;
  margin-right: 1px;
  display: inline-block; }

[class^="shaft-load"] .shaft1 {
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  -o-animation-delay: 0.05s;
  animation-delay: 0.05s; }

[class^="shaft-load"] .shaft2 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  animation-delay: 0.1s; }

[class^="shaft-load"] .shaft3 {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  animation-delay: 0.15s; }

[class^="shaft-load"] .shaft4 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s; }

[class^="shaft-load"] .shaft5 {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s; }

[class^="shaft-load"] .shaft6 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s; }

[class^="shaft-load"] .shaft7 {
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  animation-delay: 0.35s; }

[class^="shaft-load"] .shaft8 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s; }

[class^="shaft-load"] .shaft9 {
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  animation-delay: 0.45s; }

[class^="shaft-load"] .shaft10 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s; }

/* Shaft 2 */
.shaft-load2 > div {
  -webkit-animation: loading2 1.5s infinite ease-in-out;
  -moz-animation: loading2 1.5s infinite ease-in-out;
  -o-animation: loading2 1.5s infinite ease-in-out;
  animation: loading2 1.5s infinite ease-in-out;
  -webkit-transform: scaleY(0.05) translateX(-5px);
  -moz-transform: scaleY(0.05) translateX(-5px);
  -ms-transform: scaleY(0.05) translateX(-5px);
  -o-transform: scaleY(0.05) translateX(-5px);
  transform: scaleY(0.05) translateX(-5px); }

@-webkit-keyframes loading2 {
  10% {
    background: #e7e7e7; }
  15% {
    -webkit-transform: scaleY(1.2) translateX(10px);
    -moz-transform: scaleY(1.2) translateX(10px);
    -ms-transform: scaleY(1.2) translateX(10px);
    -o-transform: scaleY(1.2) translateX(10px);
    transform: scaleY(1.2) translateX(10px);
    background: #e7e7e7; }
  90%, 100% {
    -webkit-transform: scaleY(0.05) translateX(-5px);
    -moz-transform: scaleY(0.05) translateX(-5px);
    -ms-transform: scaleY(0.05) translateX(-5px);
    -o-transform: scaleY(0.05) translateX(-5px);
    transform: scaleY(0.05) translateX(-5px); } }

@-moz-keyframes loading2 {
  10% {
    background: #e7e7e7; }
  15% {
    -webkit-transform: scaleY(1.2) translateX(10px);
    -moz-transform: scaleY(1.2) translateX(10px);
    -ms-transform: scaleY(1.2) translateX(10px);
    -o-transform: scaleY(1.2) translateX(10px);
    transform: scaleY(1.2) translateX(10px);
    background: #e7e7e7; }
  90%, 100% {
    -webkit-transform: scaleY(0.05) translateX(-5px);
    -moz-transform: scaleY(0.05) translateX(-5px);
    -ms-transform: scaleY(0.05) translateX(-5px);
    -o-transform: scaleY(0.05) translateX(-5px);
    transform: scaleY(0.05) translateX(-5px); } }

@-o-keyframes loading2 {
  10% {
    background: #e7e7e7; }
  15% {
    -webkit-transform: scaleY(1.2) translateX(10px);
    -moz-transform: scaleY(1.2) translateX(10px);
    -ms-transform: scaleY(1.2) translateX(10px);
    -o-transform: scaleY(1.2) translateX(10px);
    transform: scaleY(1.2) translateX(10px);
    background: #e7e7e7; }
  90%, 100% {
    -webkit-transform: scaleY(0.05) translateX(-5px);
    -moz-transform: scaleY(0.05) translateX(-5px);
    -ms-transform: scaleY(0.05) translateX(-5px);
    -o-transform: scaleY(0.05) translateX(-5px);
    transform: scaleY(0.05) translateX(-5px); } }

@keyframes loading2 {
  10% {
    background: #e7e7e7; }
  15% {
    -webkit-transform: scaleY(1.2) translateX(10px);
    -moz-transform: scaleY(1.2) translateX(10px);
    -ms-transform: scaleY(1.2) translateX(10px);
    -o-transform: scaleY(1.2) translateX(10px);
    transform: scaleY(1.2) translateX(10px);
    background: #e7e7e7; }
  90%, 100% {
    -webkit-transform: scaleY(0.05) translateX(-5px);
    -moz-transform: scaleY(0.05) translateX(-5px);
    -ms-transform: scaleY(0.05) translateX(-5px);
    -o-transform: scaleY(0.05) translateX(-5px);
    transform: scaleY(0.05) translateX(-5px); } }

#nm-loader {
  position: absolute;
  top: 15%;
  right: 40%;
  left: 10px; }

/* end loader */
.loading-blur {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.popover-icon {
  margin-right: -5px;
  margin-top: 4px;
  color: #bd1e24;
  font-size: 20px; }

.popover-title {
  font-family: sans; }

.popover-content {
  font-family: sans;
  width: 300px; }
