<div class="list-group" id="divSidebarProfile" style="display: none">
    <a href="#Profile" class="list-group-item" id="aShowProfile">مشخصات</a>
    <a href="#Profile/ChangeData" class="list-group-item" id="aChangeProfile">تغییر مشخصات</a>
    <a href="#Profile/ChangePassword" class="list-group-item" id="aChangePasswordInProfile">تغییر کلمه عبور</a>
</div>