@font-face {
  font-family: BNazanin;
  src: url("../fonts/BNazanin.ttf");
}

@font-face {
  font-family: "sans2";
  src: url("../fonts/2iran_sans.eot");
  src: url("../fonts/2iran_sans.eot?#iefix") format("embedded-opentype"), url("../fonts/2iran_sans.woff") format("woff"), url("../fonts/2iran_sans.ttf") format("truetype"), url("../fonts/2iran_sans.svg#iran_sans") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "sans";
  src: url("../fonts/iran_sans.eot");
  src: url("../fonts/iran_sans.eot?#iefix") format("embedded-opentype"), url("../fonts/iran_sans.woff") format("woff"), url("../fonts/iran_sans.ttf") format("truetype"), url("../fonts/iran_sans.svg#iran_sans") format("svg");
  font-weight: normal;
  font-style: normal
}

body {
  direction: rtl;
  text-align: right;
  font-family: "sans";
  overflow-x: hidden;
  overflow-y: hidden;

  @media screen and (max-width: 768px) {
    overflow-x: auto;
  }
}

#topMenu {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 20px;
}

#mainBody {
  padding-left: 3px;
  padding-right: 5px;
  padding-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 16px;
  @media screen and (max-width: 768px) {
    overflow-x: auto;
    overflow-y: auto;
  }
}

#navTopMenu {
  margin-bottom: 0px;
}

.aNavbar{
  @media screen and (min-width: 768px) {
    height: 52.4px;
  }
}

.mainbody-content {
  -moz-animation-duration: 0.2ms;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
}