.nm-disable-a {
  pointer-events: none; }

.nm-disable-li {
  cursor: not-allowed; }

#aLoadingNavbarMainBodyMachinery {
  pointer-events: none;
  cursor: default;
  opacity: 0; }

.machinery-row {
  margin-bottom: 10px; }

.mc-confirmDelete-row {
  margin-bottom: 10px;
  margin-right: 10px; }

.machinery-col1 {
  text-align: left;
  padding-left: 10px;
  padding-right: 0px;
  vertical-align: middle;
  margin-top: 6px; }

.machinery-col2 {
  padding-left: 0px;
  padding-right: 0px;
  vertical-align: middle; }

.machinery-alert2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 35px;
  display: inline-block;
  vertical-align: middle; }

.machinery-selected {
  background-color: lightgoldenrodyellow !important; }

.modal-button {
  float: right;
  width: 70px; }

.ltrInput {
  direction: ltr;
  text-align: left; }
