<a id="{{aAlertId}}" href="javascript:void(0)" data-html="true" style="opacity: 0;"
   data-placement="left" data-trigger="hover" tabindex="999">
    <i class="fa fa-info-circle popover-icon" aria-hidden="true"></i>
</a>