<div id="divMainBodyProfileChangeData" style="display: none;">
    <div class="row profile-cd-row profile-cd-first-row">
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 profile-cd-col1"><span>نام</span></span>
        <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 profile-cd-col2"><input class="form-control" type="text"
                                                                      id="inputProfileFirstName"></span>
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="spanProfileAlertFirstName">
                        <div id="divProfileAlertFirstName1" style="display: none">
                            <li>نام نمی تواند خالی باشد</li>
                        </div>
                    </span>
    </div>

    <div class="row profile-cd-row">
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 profile-cd-col1"><span>نام خانوادگی</span></span>
        <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 profile-cd-col2"><input class="form-control" type="text"
                                                                      id="inputProfileLastName"></span>
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="spanProfileAlertLastName">

                        <div id="divProfileAlertLastName1" style="display: none">
                            <li>نام خانوادگی نمی تواند خالی باشد</li>
                        </div>
                    </span>
    </div>

    <div class="row profile-cd-row">
        <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1 profile-cd-col1"></span>
        <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5 profile-cd-col2 center-block">
            <button type="button" class="btn btn-primary nm-submit-button" id="buttonProfileSubmit">
                <span>
                    <span>ثبت</span>
                    <i class="fa fa-spinner fa-pulse fa-fw"></i>
                </span>
            </button>
                <span id="alertProfileSuccess" class="alert alert-success profile-cd-alert2" style="display: none"></span>
        </span>
    </div>
</div>